html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  background-color: #222222;
}

.fa {
  font-size: 22px;
  color: #fff;
  padding: 10px;
}

#topNav {
  background-color: rgba(0, 0, 0, 0.5);
}

#topNavLogo {
  max-width: 80px;
  max-height: 80px;
  min-width: 40px;
  min-height: 40px;
  width: 5vw;
  height: 5vw;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav-item a {
  margin-left: 5px;
}

.navbar {
  padding: 0;
  margin: 15px 0 15px 0;
}

.navbar button {
  border: none;
  margin-left: 15px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
}

.dropdown-menu a {
  color: #fff;
}

.btn {
  position: absolute;
  top: 260px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #fff;
  color: #fff;
  margin: 50px auto;
  padding: 10px;
  width: 150px;
  -webkit-transition: background-color 1s, width 1s;
  transition: background-color 1s, width 1s;
}

.btn:hover {
  border: 3px solid #fff;
  color: #333;
  width: 100%;
  background-color: #fff;
  top: 258px;
}

section {
  scroll-snap-align: start;
}

#hero {
  background: -webkit-gradient(linear, left top, left bottom, from(darkred), to(red));
  background: linear-gradient(darkred, red);
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
}

#splashText {
  position: relative;
  width: calc(100vw - 50px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#splashText h1 {
  color: #ccc;
  font-size: calc(48px + 1.5vw);
}

@media screen and (max-width: 380px) {
  #splashText h1 {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  #splashText h1 {
    font-size: 63px;
  }
}

#splashText h2 {
  color: #ccc;
  font-size: calc(32px + 1.5vw);
}

@media screen and (max-width: 380px) {
  #splashText h2 {
    font-size: 24px;
  }
}

@media screen and (min-width: 1440px) {
  #splashText h2 {
    font-size: 42px;
  }
}

#splashText p {
  color: #fff;
  font-size: calc(10px + 1.5vw);
}

@media screen and (max-width: 380px) {
  #splashText p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  #splashText p {
    font-size: 21px;
  }
}

#services {
  background: -webkit-gradient(linear, left top, left bottom, from(#00215f), to(#0004ff));
  background: linear-gradient(#00215f, #0004ff);
  height: 100vh;
  position: relative;
  padding-top: 120px;
  -webkit-transition: margin-top 2s;
  transition: margin-top 2s;
}

#services p {
  color: #fff;
}

#services h1 {
  color: #ccc;
  font-size: calc(24px + 1.5vw);
}

@media screen and (max-width: 1440) {
  #services h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 520px) {
  #services h1 {
    margin-top: 75px;
  }
}

#services ul li {
  color: #ccc;
  font-weight: 200;
  line-height: 40px;
  font-size: 1rem;
  letter-spacing: 0.2em;
}

#services ul p {
  font-style: italic;
  letter-spacing: 0.5em;
  color: #fff;
}

.carousel-indicators {
  top: 0;
}

.carousel-inner {
  height: 90vh;
  padding: 50px 75px;
}

#enquiries {
  height: 100vh;
  position: relative;
}

#enquiries #enquiries-heading {
  color: #555;
  font-size: calc(24px + 1.5vw);
  text-shadow: 0px 5px 10px #fff;
  -webkit-transition: margin-top 2s;
  transition: margin-top 2s;
}

@media screen and (max-width: 1440) {
  #enquiries #enquiries-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 520px) {
  #enquiries #enquiries-heading {
    margin-top: 75px;
  }
}

#enquiries-content {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  position: absolute;
  top: 50vh;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#enquiries-content h1 {
  font-weight: 200;
  font-size: calc(24px + 1.5vw);
}

@media screen and (max-width: 1440) {
  #enquiries-content h1 {
    font-size: 30px;
  }
}

.bg-img-enquiries {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/assets/img/map.webp), url(/assets/img/map.png);
}
/*# sourceMappingURL=main.css.map */