@mixin font300 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
@mixin font500 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
@mixin font700 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}