body {
    background-color: #333;
}
#sidebarFixed {
    background-color: #fecb00;
}
#navbarNav {
    background-color: #fecb00;
}
#sidebarFixed {
    display: block;
    padding: 0;
    max-width: 50px;
}
#navbutton {
    font-size: 1rem;
    border: none;
}
#navbarNav {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    height: 100vh;
    width: 0px;
    padding-top: 40px;
}
#navbarNav.in {
    width: 30vw;
    @media screen and (max-width:375px) {
        width:50vw;
    }
}
.navbar-nav a {
    font-size: calc(12px + 3vw);
}
#mail1 {
    text-align: center;
    font-size: x-large;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}
#bg-img {
    height:100vh;
    width: calc(100vw - 50px);
    margin-left: 50px;
    background-image: url(/assets/img/christopher-gower-m_HRfLhgABo-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
}
#splashText {
    h1 {
        color: #ccc;
        font-size: calc(48px + 1.5vw);
        @media screen and (max-width:1440) {
            font-size: 66px;
        }
    }
    p {
        color: #ccc;
        font-size: calc(10px + 1vw);
        @media screen and (max-width:1440) {
            font-size: 22px;
        }
    }
    z-index: 99;
    width: calc(100vw - 50px);
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0, -50%);
}
#overlay {
    display: block;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}